body {
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.dark-theme {
    background-color: #363636;
    color: #fff;
}

.light-theme {
    background-color: #f1f1f1;
    color: #000;
}

.card {
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: space-between; /* Espaça os itens de forma que o botão fique no final */
    background: #999999;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-horario {
    background: #999999;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.card-content {
    display: flex;
    flex-direction: row; /* Linha no desktop */
    align-items: center;
}

.card-image img {
    width: 120px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.dark-theme .card, .dark-theme .card-horario {
    background: #646464;
}

.indice {
    padding: 20px;
}

header {
    text-align: right;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.coluna-esquerda {
    padding-top: 20px;
    padding-bottom: 15px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
}

.coluna-esquerda .card {
    flex-basis: calc(33.333% - 20px);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .coluna-esquerda .card {
        flex-basis: calc(50% - 20px);
    }
}

.coluna-direita {
    font-size: medium;
    width: 100%;
}

.card-horario {
    display: flex;
    align-items: center;
}

.quadrado-azul, .quadrado-vermelho, .quadrado-verde {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.quadrado-azul { background-color: rgb(0, 0, 158); }
.quadrado-vermelho { background-color: rgb(160, 0, 0); }
.quadrado-verde { background-color: rgb(0, 80, 0); }

.bttn {
    display: inline-flex;
    padding: 10px 20px;
    background: #5b728b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    align-items: center; 
    justify-content: center; 
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.footer {
    position: relative;
    bottom: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.instagram-icon {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.btn {
    width: 5em;
    height: 3em;
    border-radius: 4em;
    padding: 0 0.2em;
    box-shadow: inset 0 3px 20px rgba(0,0,0, .1), inset 0 3px 3px rgba(0,0,0, .1), inset 0 -2px 2px rgba(0,0,0, .1);
    position: fixed;
    right: 10px; 
    top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dark-theme .btn {
    background-color: #dadada;
}

.light-theme .btn {
    background-color: #000000;
}

.dark-theme .btn__indicator {
    background-color: #000000;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 3px 15px rgba(0,0,0, .2);
    transition: transform .3s ease;
    transform: translateX(3em); 
}
.light-theme .btn__indicator {
    background-color: #dadada;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 3px 15px rgba(0,0,0, .2);
    transition: transform .3s ease;
    transform: translateX(0em);
}
@media (max-width: 600px) {
    .card-content {
        flex-direction: column; /* Coluna no celular */
    }
    .card-image img {
        width: 100%;
    }
}